# Introduction

A pneumonia of unknown cause detected in Wuhan, China was first internationally reported from China on 31 December 2019. Today we know this virus as Coronavirus. COVID-19, which stands for COronaVIrus Disease, is the disease caused by this virus. Since then, the world has been engaged in the fight against this pandemic. Several measures have therefore been taken to "flatten the curve". We have consequently experienced social distancing, and unfortunately, many lives have been lost.

In the solidarity to face this unprecedented global crisis, several organizations did not hesitate to share several datasets allowing the conduction of various kinds of analysis in order to understand this pandemic.

# Objective

The objective of this analysis is to identify the countries with the highest number of positive cases in relation to the number of tests conducted.

# Data

You can find the data [here](https://dq-content.s3.amazonaws.com/505/covid19.csv).

# Data Exploration

In [ ]:
install.packages('readr')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(readr)
covid_data <- read.csv("covid19.csv")

To understand the data, we begin by observing its dimensions, structure, and column names, as well as obtaining a general summary of the data.

In [ ]:
#get the dimension of the data
dimensions <- dim(covid_data)
dimensions

NULL

In [ ]:
#check out the column names of the data
column_names <- colnames(covid_data)
column_names

 [1] "Date"                    "Continent_Name"
 [3] "Two_Letter_Country_Code" "Country_Region"
 [5] "Province_State"          "positive"
 [7] "hospitalized"            "recovered"
 [9] "death"                   "total_tested"
[11] "active"                  "hospitalizedCurr"
[13] "daily_tested"            "daily_positive"

In [ ]:
#showing the first few rows of the data
head_data <- head(covid_data)
head_data

  Date       Continent_Name Two_Letter_Country_Code Country_Region
1 2020-01-20 Asia           KR                      South Korea
2 2020-01-22 North America  US                      United States
3 2020-01-22 North America  US                      United States
4 2020-01-23 North America  US                      United States
5 2020-01-23 North America  US                      United States
6 2020-01-24 Asia           KR                      South Korea
  Province_State positive hospitalized recovered death total_tested active
1 All States     1        0            0         0      4           0
2 All States     1        0            0         0      1           0
3 Washington     1        0            0         0      1           0
4 All States     1        0            0         0      1           0
5 Washington     1        0            0         0      1           0
6 All States     2        0            0         0     27           0
  hospitalizedCurr daily_tested daily_positive
1 0                0            0
2 0                0            0
3 0                0            0
4 0                0            0
5 0                0            0
6 0                5            0

In [ ]:
#Display summary of the data using glimpse() function
library(tibble)

glimpse_data <- glimpse(covid_data)
glimpse_data

Rows: 10,903
Columns: 14
$ Date                    <chr> "2020-01-20", "2020-01-22", "2020-01-22", "202…
$ Continent_Name          <chr> "Asia", "North America", "North America", "Nor…
$ Two_Letter_Country_Code <chr> "KR", "US", "US", "US", "US", "KR", "US", "US"…
$ Country_Region          <chr> "South Korea", "United States", "United States…
$ Province_State          <chr> "All States", "All States", "Washington", "All…
$ positive                <int> 1, 1, 1, 1, 1, 2, 1, 1, 4, 0, 3, 0, 0, 0, 0, 1…
$ hospitalized            <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ recovered               <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ death                   <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ total_tested            <int> 4, 1, 1, 1, 1, 27, 1, 1, 0, 0, 0, 0, 0, 0, 0, …
$ active                  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ hospitalizedCurr        <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ daily_tested            <int> 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…
$ daily_positive          <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0…

      Date       Continent_Name Two_Letter_Country_Code Country_Region
1     2020-01-20 Asia           KR                      South Korea
2     2020-01-22 North America  US                      United States
3     2020-01-22 North America  US                      United States
4     2020-01-23 North America  US                      United States
5     2020-01-23 North America  US                      United States
6     2020-01-24 Asia           KR                      South Korea
7     2020-01-24 North America  US                      United States
8     2020-01-24 North America  US                      United States
9     2020-01-25 Oceania        AU                      Australia
10    2020-01-25 Oceania        AU                      Australia
11    2020-01-25 Oceania        AU                      Australia
12    2020-01-25 Oceania        AU                      Australia
13    2020-01-25 Oceania        AU                      Australia
14    2020-01-25 Oceania        AU                      Australia
15    2020-01-25 Oceania        AU                      Australia
16    2020-01-25 Oceania        AU                      Australia
17    2020-01-25 Oceania        AU                      Australia
18    2020-01-25 Europe         GB                      United Kingdom
19    2020-01-25 North America  US                      United States
20    2020-01-25 North America  US                      United States
21    2020-01-26 Oceania        AU                      Australia
22    2020-01-26 Oceania        AU                      Australia
23    2020-01-26 Oceania        AU                      Australia
24    2020-01-26 Oceania        AU                      Australia
25    2020-01-26 Oceania        AU                      Australia
26    2020-01-26 Oceania        AU                      Australia
27    2020-01-26 Oceania        AU                      Australia
28    2020-01-26 Oceania        AU                      Australia
29    2020-01-26 Oceania        AU                      Australia
30    2020-01-26 Asia           IL                      Israel
⋮     ⋮          ⋮              ⋮                       ⋮
10874 2020-05-31 North America  US                      United States
10875 2020-05-31 North America  US                      United States
10876 2020-05-31 North America  US                      United States
10877 2020-05-31 North America  US                      United States
10878 2020-05-31 North America  US                      United States
10879 2020-05-31 North America  US                      United States
10880 2020-05-31 North America  US                      United States
10881 2020-05-31 North America  US                      United States
10882 2020-05-31 North America  US                      United States
10883 2020-05-31 North America  US                      United States
10884 2020-05-31 North America  US                      United States
10885 2020-05-31 North America  US                      United States
10886 2020-06-01 Oceania        AU                      Australia
10887 2020-06-01 Oceania        AU                      Australia
10888 2020-06-01 Oceania        AU                      Australia
10889 2020-06-01 Oceania        AU                      Australia
10890 2020-06-01 Oceania        AU                      Australia
10891 2020-06-01 Oceania        AU                      Australia
10892 2020-06-01 Oceania        AU                      Australia
10893 2020-06-01 Oceania        AU                      Australia
10894 2020-06-01 Oceania        AU                      Australia
10895 2020-06-01 Europe         AT                      Austria
10896 2020-06-01 Asia           BD                      Bangladesh
10897 2020-06-01 Europe         BA                      Bosnia and Herzegovina
10898 2020-06-01 Asia           IN                      India
10899 2020-06-01 Asia           ID                      Indonesia
10900 2020-06-01 Europe         PL                      Poland
10901 2020-06-01 Europe         RS                      Serbia
10902 2020-06-01 Asia           TW                      Taiwan
10903 2020-06-01 Asia           VN                      Vietnam
      Province_State               positive hospitalized recovered death
1     All States                   1        0            0         0
2     All States                   1        0            0         0
3     Washington                   1        0            0         0
4     All States                   1        0            0         0
5     Washington                   1        0            0         0
6     All States                   2        0            0         0
7     All States                   1        0            0         0
8     Washington                   1        0            0         0
9     All States                   4        0            0         0
10    Australian Capital Territory 0        0            0         0
11    New South Wales              3        0            0         0
12    Northern Territory           0        0            0         0
13    Queensland                   0        0            0         0
14    South Australia              0        0            0         0
15    Tasmania                     0        0            0         0
16    Victoria                     1        0            0         0
17    Western Australia            0        0            0         0
18    All States                   1        0            0         0
19    All States                   1        0            0         0
20    Washington                   1        0            0         0
21    All States                   4        0            0         0
22    Australian Capital Territory 0        0            0         0
23    New South Wales              3        0            0         0
24    Northern Territory           0        0            0         0
25    Queensland                   0        0            0         0
26    South Australia              0        0            0         0
27    Tasmania                     0        0            0         0
28    Victoria                     1        0            0         0
29    Western Australia            0        0            0         0
30    All States                   0        0            0         0
⋮     ⋮                            ⋮        ⋮            ⋮         ⋮
10874 South Carolina               11861    1634          6459      494
10875 South Dakota                  4993     432          3837       62
10876 Tennessee                    23006    1750         15300      364
10877 Texas                        64287       0         42423     1672
10878 Utah                          9797     775          6137      113
10879 Vermont                        981       0           873       55
10880 Virgin Islands                  69       0            61        6
10881 Virginia                     44607    7326          5868     1375
10882 Washington                   21349    3480             0     1118
10883 West Virginia                 2010       0          1303       75
10884 Wisconsin                    18403    2583         11646      592
10885 Wyoming                        903      85           658       16
10886 All States                    7204       0          6619      102
10887 Australian Capital Territory   107       0           104        3
10888 New South Wales               3098       0          2685       48
10889 Northern Territory              29       0            29        0
10890 Queensland                    1058       0          1046        6
10891 South Australia                440       0           435        4
10892 Tasmania                       228       0           207       13
10893 Victoria                      1653       0          1560       19
10894 Western Australia              591       0           553        9
10895 All States                       0       0             0        0
10896 All States                   49534       0         10597      672
10897 All States                       0       0             0        0
10898 All States                       0       0             0        0
10899 All States                       0       0             0        0
10900 All States                   23987       0         11449     1065
10901 All States                   11430       0          6726      244
10902 All States                       0       0             0        0
10903 All States                       0       0             0        0
      total_tested active hospitalizedCurr daily_tested daily_positive
1      4           0      0                0            0
2      1           0      0                0            0
3      1           0      0                0            0
4      1           0      0                0            0
5      1           0      0                0            0
6     27           0      0                5            0
7      1           0      0                0            0
8      1           0      0                0            0
9      0           0      0                0            0
10     0           0      0                0            0
11     0           0      0                0            0
12     0           0      0                0            0
13     0           0      0                0            0
14     0           0      0                0            0
15     0           0      0                0            0
16     0           0      0                0            0
17     0           0      0                0            0
18    31           0      0                0            0
19     1           0      0                0            0
20     1           0      0                0            0
21     0           0      0                0            0
22     0           0      0                0            0
23     0           0      0                0            0
24     0           0      0                0            0
25     0           0      0                0            0
26     0           0      0                0            0
27     0           0      0                0            0
28     0           0      0                0            0
29     0           0      0                0            0
30     3           0      0                0            0
⋮     ⋮            ⋮      ⋮                ⋮            ⋮
10874  200216       4908   402              10697        467
10875   44128       1094    86               1190         33
10876  435977       7342     0               8931        440
10877  951865      20192  1684              58590       3281
10878  213914       3547   142               3809        264
10879   33970         53    18               1303          4
10880    1702          2     0                  0          0
10881  315391      37364  1458               9879        996
10882  354354          0   266               6121        278
10883   97622        632    33               1732         36
10884  268506       6165   625               7368        173
10885   24393        229    13                310          5
10886 1476416        483    21              17824          9
10887   18425          0     0                311          0
10888  509227        365    10               5763          3
10889    8240          0     0                 20          0
10890  197367          6     2               1930          0
10891  101944          1     0               1104          0
10892   31671          8     2                375          0
10893  515541         74     6               5850          4
10894   94001         29     1               2471          2
10895  451820          0     0               3286          0
10896  320969      38265     0              12039       2381
10897   65900          0     0                680          0
10898 3837207          0     0             100180          0
10899  223624          0     0               5887          0
10900  931520      11473     0              15974        201
10901  247760       4460   468               2315         18
10902   72319          0     0                237          0
10903  261004          0     0                  0          0

# Filtering Relevant Rows

In [ ]:
library(dplyr)

In [ ]:
#filter the data to select rows with "All States" in the Province_State column, and remove the column
filtered_data <- covid_data %>%
  filter(Province_State == "All States") %>%
  select(-Province_State)

We can remove the "Province_State" column without losing any information because it only contains "All States" (which is not needed) after the filtering process.

# Selecting Relevant Columns

In [ ]:
selected_columns <- filtered_data %>%
  select(Date, Country_Region, active, hospitalizedCurr, daily_tested, daily_positive)

head_selected_columns <- head(selected_columns)
head_selected_columns

  Date       Country_Region active hospitalizedCurr daily_tested daily_positive
1 2020-01-20 South Korea    0      0                0            0
2 2020-01-22 United States  0      0                0            0
3 2020-01-23 United States  0      0                0            0
4 2020-01-24 South Korea    0      0                5            0
5 2020-01-24 United States  0      0                0            0
6 2020-01-25 Australia      0      0                0            0

# Extracting the Top Ten countries with the highest number of tested cases

In [ ]:
summary_data <- selected_columns %>%
  group_by(Country_Region) %>%
  summarise(tested = sum(daily_tested),
            positive = sum(daily_positive),
            active = sum(active),
            hospitalized = sum(hospitalizedCurr)) %>%
  arrange(desc(tested))

summary_data

    Country_Region       tested   positive active  hospitalized
1   United States        17282363 1877179        0       0
2   Russia               10542266  406368  6924890       0
3   Italy                 4091291  251710  6202214 1699003
4   India                 3692851   60959        0       0
5   Turkey                2031192  163941  2980960       0
6   Canada                1654779   90873    56454       0
7   United Kingdom        1473672  166909        0       0
8   Australia             1252900    7200   134586    6655
9   Peru                   976790   59497        0       0
10  Poland                 928256   23987   538203       0
11  South Korea            916276   11493   302633       0
12  Israel                 546626   16647        0   30653
13  Germany                518647   29943        0       0
14  Belgium                511055   54209   220744       0
15  Czech Republic         446758    9321        0       0
16  Pakistan               421626   22607        0       0
17  Denmark                383167    6867        0       0
18  Malaysia               345880    2257        0       0
19  Ukraine                339762   23619   501572       0
20  Austria                337293    5366        0       0
21  Bangladesh             320834   49531   685992       0
22  Lithuania              302743    1674    46323       0
23  United Arab Emirates   299755    3044        0       0
24  New Zealand            281301    1221    47365   25241
25  Spain                  252243    8970        0       0
26  Philippines            245525    6630        0       0
27  Serbia                 242139   11357   320568  111807
28  Japan                  235826    9196        0       0
29  Portugal               221534    5623        0       0
30  South Africa           207167    2993        0       0
⋮   ⋮                    ⋮        ⋮        ⋮       ⋮
79  Uganda               8053       2      0       0
80  Ethiopia             6460       0      0       0
81  Tunisia              6436      20      0       0
82  Cuba                 5978      50      0       0
83  Albania              5794     374      0       0
84  North Macedonia      5473     506      0       0
85  Montenegro           4556     143      0       0
86  Egypt                4220     288      0       0
87  Uruguay              4059      38      0       0
88  Panama               3797     605      0       0
89  Kenya                2989      29      0       0
90  Palestine            2385      27      0       0
91  El Salvador          1993       0      0       0
92  Cameroon             1928     108      0       0
93  Bolivia              1717     148      0       0
94  Lebanon              1149       0      0       0
95  Senegal              1132       0      0       0
96  Ivory Coast          1065      31      0       0
97  Myanmar               969       0      0       0
98  Jamaica               840      29      0       0
99  Barbados              594       2      0       0
100 Mozambique            374       0      0       0
101 Burkina Faso          331       0      0       0
102 Congo                 223      14      0       0
103 Guinea                193       0      0       0
104 Trinidad and Tobago   188       5      0       0
105 Grenada               173       0      0       0
106 Malawi                 93       1      0       0
107 North Korea             2       0      0       0
108 Tanzania                0       0      0       0

In [ ]:
top_10_countries <- head(summary_data, 10)

top_10_countries

   Country_Region tested   positive active  hospitalized
1  United States  17282363 1877179        0       0
2  Russia         10542266  406368  6924890       0
3  Italy           4091291  251710  6202214 1699003
4  India           3692851   60959        0       0
5  Turkey          2031192  163941  2980960       0
6  Canada          1654779   90873    56454       0
7  United Kingdom  1473672  166909        0       0
8  Australia       1252900    7200   134586    6655
9  Peru             976790   59497        0       0
10 Poland           928256   23987   538203       0

# Identifying the Highest Ratio of Positive Cases to Tested Cases

In [ ]:
#creating vectors
countries <- top_10_countries$Country_Region
tested_cases <- top_10_countries$tested
positive_cases <- top_10_countries$positive
active_cases <- top_10_countries$active
hospitalized_cases <- top_10_countries$hospitalized

In [ ]:
#naming the vectors using names() function
names(positive_cases) <- countries
names(tested_cases) <- countries
names(active_cases) <- countries
names(hospitalized_cases) <- countries

In [ ]:
#identifying the ratio of positive cases to tested cases
positive_cases

total_positive_cases <- sum(positive_cases)
total_positive_cases

average_positive_cases <- mean(positive_cases)
average_positive_cases

positive_cases_ratio <- positive_cases / total_positive_cases
positive_cases_ratio

positive_cases_ratio_to_tested <- positive_cases / tested_cases
positive_cases_ratio_to_tested

 United States         Russia          Italy          India         Turkey
       1877179         406368         251710          60959         163941
        Canada United Kingdom      Australia           Peru         Poland
         90873         166909           7200          59497          23987

[1] 3108623

[1] 310862.3

 United States         Russia          Italy          India         Turkey
   0.603861903    0.130722831    0.080971543    0.019609647    0.052737498
        Canada United Kingdom      Australia           Peru         Poland
   0.029232557    0.053692262    0.002316138    0.019139342    0.007716278

 United States         Russia          Italy          India         Turkey
   0.108618191    0.038546552    0.061523368    0.016507300    0.080711720
        Canada United Kingdom      Australia           Peru         Poland
   0.054915490    0.113260617    0.005746668    0.060910738    0.025840932

In [ ]:
#creating a vector with the top three countries with the highest ratio of positive cases to tested cases
top_3_positive_tested_countries <- c("United Kingdom" = 0.11, "United States" = 0.1,"Turkey" = 0.08)

# Organizing Relevant Information

In [ ]:
#creating vectors
united_kingdom <- c(0.11, 1473672, 166909, 0, 0)
united_states <- c(0.10, 17282363, 1877179, 0, 0)
turkey <- c(0.08, 2031192, 163941, 2980960, 0)

In [ ]:
#creating a matrix
covid_matrix <- rbind(united_kingdom, united_states, turkey)

In [ ]:
#rename the columns of the matrix
names(covid_matrix) <- c("Ratio", "Tested", "Positive", "Active", "Hospitalized")

covid_matrix

               [,1] [,2]     [,3]    [,4]    [,5]
united_kingdom 0.11  1473672  166909       0 0
united_states  0.10 17282363 1877179       0 0
turkey         0.08  2031192  163941 2980960 0

# Summary

In [ ]:
question <- "Which countries have had the highest number of positive cases against the number of tests?"

In [ ]:
answer <- c("Countries with the highest positive cases to tested cases ratio" = top_3_positive_tested_countries)

In [ ]:
#creating a list of the dataframes used
dataset_list <- list(
  original_data = covid_data,
  filtered_data = filtered_data,
  selected_columns = selected_columns,
  top_10_countries = top_10_countries
)

In [ ]:
#creating a list of matrices used
matrices_list <- list(covid_matrix)

#creating a list of vectors used
vector_list <- list(column_names, countries)

#creating a data structure that contains the lists above
data_structure_list <- list("dataframe" = dataset_list, "matrix" = matrices_list, "vector" = vector_list)

In [ ]:
covid_analysis_list <- list(question, answer, data_structure_list)
covid_analysis_list[[2]]

Countries with the highest positive cases to tested cases ratio.United Kingdom
                                                                          0.11
 Countries with the highest positive cases to tested cases ratio.United States
                                                                          0.10
        Countries with the highest positive cases to tested cases ratio.Turkey
                                                                          0.08

# Conclusion

From our analysis, it is evident that the United Kingdom, United States, and Turkey are the countries with the highest number of positive cases in relation to the number of tests conducted.